<template>
    <div class="main">Main page</div>
</template>

<script>
    export default{
        name:"main",
        data(){
            return{
            
           }
        }
    }
</script>

<style scoped>
	.main{
		width:100%;
		height: 600px;
		background-color: aqua;
	}
</style>